.background {
    background-color: #dbe3e7;
}

#chart-wrapper{
    margin-bottom: 40px;
    padding: 10px;
    /* If nesting a chart's container within another container, remove the 
       height and width values.  The outer container will control the dimensions */ 
    height: 75vh; 
    width:  100vw;
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;  
}